# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
node_modules/
packages/cvd-py/opticquiz_cvd.egg-info/
packages/cvd-py/dist/
*.vsix
*.zip
desktop-app/bin/
desktop-app/obj/
desktop-app/dist/
